Q1 - Report Card

In [7]:
 
print("Enter marks obtained in 5 subjects: ");
mark1 = int(input());
mark2 = int(input());
mark3 = int(input());
mark4 = int(input());
mark5 = int(input());
sum = mark1 + mark2 + mark3 + mark4 + mark5;
average = sum/5;
if(average>=91 and average<=100):
        print("Your Grade is A+");
 elif(average>=81 and average<=90):
        print("Your Grade is A");
 elif(average>=71 and average<=80):
        print("Your Grade is B+");
 elif(average>=61 and average<=70):
        print("Your Grade is B");
 elif(average>=51 and average<=60):
        print("Your Grade is C+");
 elif(average>=41 and average<=50):
        print("Your Grade is C");
 elif(average>=0 and average<=40):
        print("Your Grade is F");
else:
        print("Enter valid Marks..!!");

Enter marks obtained in 5 subjects:
66
56
98
77
90
Your Grade is B+

Q2 -  Prime Numbers in between 1 to 1000

In [ ]:
 
lower = 1
upper = 1000
 
print("Prime numbers between", lower, "and", upper, "are:")
 
for number in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if number > 1:
       for x in range(2, number):
           if (number % x) == 0:
               break
       else:
           print(number)

Prime numbers between 1 and 1000 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

Q3.Tables from 1,10 using nested for loop

In [ ]:
for item in range(1,11):
   for a in range(1,11): 
    
    print(item,"X",a,"=",item*a)
print(     )

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Q4 - Prime Numbers between 0 and X using while loop

In [ ]:
 
maximum = int(input(" Enter Any Number: "))
 
Num = 0
 
print("Prime numbers between", Num, "and", maximum, "are:")
 
while(Num <= maximum):
    count = 0
    i = 2
 
    while(i <= Num/2):
        if(Num % i == 0):
            count = count + 1
            break
        i = i + 1
 
    if (count == 0 and Number != 1):
        print(Num)
    Num = Num  + 1

 Enter Any Number: 9
Prime numbers between 0 and 9 are:
0
1
2
3
5
7